extends main.pug
    
block customStylesheets
    link(href="/css/redirectMessage.css", rel="stylesheet")

block theArticle
    article
        div(id="redirectMessage") Create an account or log in to use this page.